[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
*.pidb
*.suo
*.user
*.userosscache
*.sln.docstates
*.unityproj
*.DS_Store
.DS_Store
Thumbs.db
sysinfo.txt
*.apk
*.aab
*.ipa
*.unitypackage
*.app
crashlytics-build.properties
